# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.pull&grab_Test.iml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\Upwork\idd-mage-project-main\pull&grab_Test\.idea\.idea.pull&grab_Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
